<mat-card class="gate-selector">
  <mat-card-title>Basic Logic Gates</mat-card-title>
  <mat-card-header>
    <mat-card-title>Select a gate</mat-card-title>
    <mat-card-subtitle>from below</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-radio-group [(ngModel)]="selectedGate">
      <mat-radio-button [value]="gate" *ngFor="let gate of gateList">
        {{gate}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>
<app-gate [gate]="selectedGate" *ngIf="selectedGate"></app-gate>
<app-truth-table [gate]="selectedGate" *ngIf="selectedGate"></app-truth-table>