<mat-card class="gate-selector">
  <mat-card-title>Basic Logic Gates</mat-card-title>
  <mat-card-header>
    <mat-card-title>Select a gate</mat-card-title>
    <mat-card-subtitle>from below</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-radio-group [(ngModel)]="selectedGate">
      <mat-radio-button [value]="type" *ngFor="let type of gateList" (change)="updateGate(type)">
        {{type}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>
<app-gate [gate]="gate" *ngIf="selectedGate"></app-gate>
<app-truth-table [type]="selectedGate" *ngIf="selectedGate"></app-truth-table>