<mat-card class="gate">
  <mat-card-header>
    <mat-card-title>Gate I/O</mat-card-title>
    <mat-card-subtitle>{{type}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-checkbox [(ngModel)]="isClocked" (change)="chooseGate()"> Clocked? </mat-checkbox>
    <mat-checkbox *ngFor="let input of inputs; let i = index" [(ngModel)]="intInput[i]" (change)="chooseGate()">
      {{input}}
    </mat-checkbox>
    <div *ngIf="isClocked">
      <mat-checkbox [(ngModel)]="clock" (change)="chooseGate()"> CLOCK </mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <mat-chip-list>
      <mat-chip color="primary" selected *ngIf="output">Positive</mat-chip>
      <mat-chip color="warn" selected *ngIf="!output">Negative</mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>