<mat-card class="truth-table">
  <mat-card-header>
    <mat-card-title>Truth Table</mat-card-title>
    <mat-card-subtitle>{{ _gate.getGateType() }}</mat-card-subtitle>
  </mat-card-header>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="A">
      <mat-header-cell *matHeaderCellDef > A </mat-header-cell>
      <mat-cell *matCellDef="let input"> {{input.a}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="B">
      <mat-header-cell *matHeaderCellDef > B </mat-header-cell>
      <mat-cell *matCellDef="let input"> {{input.b}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="C">
      <mat-header-cell *matHeaderCellDef > C </mat-header-cell>
      <mat-cell *matCellDef="let input"> {{input.c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="D">
      <mat-header-cell *matHeaderCellDef > D </mat-header-cell>
      <mat-cell *matCellDef="let input"> {{input.d}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="E">
      <mat-header-cell *matHeaderCellDef > E </mat-header-cell>
      <mat-cell *matCellDef="let input"> {{input.e}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="F">
      <mat-header-cell *matHeaderCellDef > F </mat-header-cell>
      <mat-cell *matCellDef="let input"> {{input.f}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="G">
      <mat-header-cell *matHeaderCellDef > G </mat-header-cell>
      <mat-cell *matCellDef="let input"> {{input.g}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="H">
      <mat-header-cell *matHeaderCellDef > H </mat-header-cell>
      <mat-cell *matCellDef="let input"> {{input.h}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="X">
      <mat-header-cell *matHeaderCellDef > X </mat-header-cell>
      <mat-cell *matCellDef="let input"> {{input.x}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let input; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>